section {
    background-color: #f1e2bb;
}

#produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
 }
    
.secao-produtos{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
 }
    
.secao-produtos p{
    font-size: 1.1rem;
 }
    
 .titulos{
    margin-bottom: 25px;
}
    
.carro img{
    display: grid;
    grid-row: 2fr 2fr;
    gap: 15px;
    margin: 50px 0px;
}
    
 .card-oculos picture img{
    width: 80%;
    height: auto;
    max-height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
 }

.card-oculos{
    background-color: #f1e2bb;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-oculos h3{
        font-size: 2rem;
 }

.card-oculos p{
    font-weight: 600;
    font-size: 1.25rem;
 }

 .lista-oculos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    padding: 0px 20px;



 .lista-oculos p{
  font-weight: 600;
  font-size: 1.1;
  margin-bottom: 25px;
 }
  }

  .carros-antigos {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
  }
  
  .carro {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex-basis: calc(50% - 10px); 
  }
  
  img {
    max-width: 100%; 
    height: auto; 
  }
/* Estilo para o contêiner principal */
.produtos {
  text-align: center;
  padding: 20px;
  background-color: #7ed957;
}

.produtos h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.produtos p {
  font-size: 16px;
  color: #666;
  max-width: 800px;
  margin: 0 auto 20px;
}

/* Estilo para a seção das pizzas */
.carros-antigos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  grid-template-rows: repeat(2, 1fr); /* 2 linhas */
  gap: 30px; /* Espaço entre os itens */
  max-width: 800px;
  margin: 0 auto;
}

/* Cada item dentro da grid */
.carro {
  border-radius: 8px;
  /* Removendo a sombra que cria a "caixa" em volta */
  box-shadow: none;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  /* Removendo borda se houver */
  border: none;
}

.carro img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  /* Removendo qualquer borda ou sombra */
  border: none;
  box-shadow: none;
}

.carro span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .carros-antigos {
    grid-template-columns: 1fr; /* 1 coluna em telas menores */
    grid-template-rows: auto; /* A altura das linhas se ajusta automaticamente */
  }
}

.descricao {
  font-size: 18px;
  font-weight: normal;
  text-align: justify;
}

.propaganda {
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}
