.login-container {
  background-color: #86ee97;
  color: white;
  padding: 40px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  margin-top: 25vh;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.login-button {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.login-button:hover {
  background-color: #388E3C;
}

.Esenha {
 display: flex;
 justify-content: center;
 margin-top: -1vh;
}