* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'popopins', sans-serif;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.center {
  max-width: 100%;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

